# Dependencies
node_modules/

# Production
build/
dist/

# Env
.env
.env.local
.env.*.local

# Expo
.expo/
web-build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Android/iOS generated (if managed workflow, otherwise remove these if you eject)
android/
ios/
